$font-size-base: 1.5rem;
$h1-font-size: $font-size-base * 3 !default;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-font-sizes: (
  7: $font-size-base * 0.7,
);

$font-sizes: map-merge($custom-font-sizes, $font-sizes);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
